<form method="POST" action="">
        Serial <input type="text" name="serial"/>
        <br>
        Name <input type="text" name="name" />
        <br>
        Email <input type="email" name="email" />
        <br>
        <input type="submit">
<style>
         body {
         background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg');
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-position: cover;
	 background-size: 100% 100%;
</style>
</form>
